script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiW-5cdWeczl7h0CGV7ndJ1PIVXwz_-Bs&callback=bike.googleMaps",
    async)
script(src=jsPath + 'jquery.js')
script(src=jsPath + 'tab.js')
script(src=jsPath + 'owl.carousel.min.js')
script(src=jsPath + 'xzoom.min.js')
script(src=jsPath + 'main.js')
